
@{
    ViewData["Title"] = "Index";
    var objectuserlist = ViewData["UserList"] as IEnumerable<User>;
}
<partial name="_Notification"></partial>

<div class"cotainer  p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> List</h2>
        </div>
    </div>
    <br /> <br />
    </div>
<h1>User List</h1>

<table class="table table-bordered table-striped" style="width:100%":>

<thead>
    <tr>
        <th>
            User_Id
        </th>
        <th>
            Name
        </th>
        <th>
            E-mail
        </th>
         <th>
            Password
        </th>
         <th>
            Phone
        </th>
         <th>
            User_Emp_Id
        </th>
         <th>
            Status
        </th>
         
    </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.User_Id
                </td>
                <td width="50%">
                    @obj.User_Name
                </td>
                <td width="30%">
                    @obj.User_Email

                </td>
                <td width="30%">
                    @obj.User_Password

                </td>
                 <td width="30%">
                    @obj.User_Phone

                </td>
                 <td width="30%">
                    @obj.User_Emp_Id

                </td>
                 <td width="30%">
                    @obj.Status

                </td>
     
                      
                <td>
                  <div class=w-75 btn-group" role="group">
                        <a asp-controller="Admin" asp-action="Edit"  asp-route-User_Id="@obj.User_Id" class="btn btn-primary mx-2">Edit<i class="bi bi-pencil-square"></i></a>

                    </div>
               <div class=w-75 btn-group" role="group">
                        <a asp-action="Delete" asp-controller="Admin" asp-route-User_Id="@obj.User_Id" class="btn btn-danger mx-2">Delete<i class="bi bi-trash"></i></a>

                    </div>
                </td>
            </tr>
            
        }
    </tbody>
   </table>
