<link href="~/css/Dashboard.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<body class="light-theme dark-theme">
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="header-inner d-flex justify-content-between align-items-center">
          <a class="navbar-brand flex-shrink-0" href="#"><img src="https://yudiz.com/codepen/nft-store/logo-icon.svg" alt="logo-image" class="img-fluid">
            Document Saver</a>
          <div class="header-content d-flex align-items-center justify-content-end">
            <form class="d-flex justify-content-end align-items-center">
              <div class="search-icon">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              </div>
              <label class="switch flex-shrink-0 mb-0">
                <input id="checkbox" type="checkbox">
                <span class="slider round"></span>
              </label>
            </form>
            <a herf="#" class="profile"><img src="~/css/logo.jpg" alt="user-image"></a>
            <a href="#" class="notification"><i class="fa fa-bell" aria-hidden="true"></i></a>

          </div>
          <form method="post" asp-controller="User" asp-action="Login">
    <button class="btn btn-lg btn-primary btn-block">Logout</button>
</form>
        </div>
        <button class="hamburger-icon">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </nav>
    </div>
  </header>
  <div class="nft-store">
    <div class="container-fluid">
      <div class="nft-store-inner d-flex">
        <div class="menu-links">
          <ul>
            <li class="nav-item active">
              <a href="#" class="d-flex align-items-center nav-link"><i class="fa fa-home" aria-hidden="true"></i>
                <span>Profile</span></a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex align-items-center nav-link"><i class="fa fa-briefcase" aria-hidden="true"></i>
                <span>New Project</span></a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex align-items-center nav-link"><i class="fa fa-heart-o" aria-hidden="true"></i>
                <span>Projects</span></a>
            </li>
            <li class="nav-item">
              <a asp-controller="Upload" asp-action="Index" class="d-flex align-items-center nav-link"><i class="fa fa-square-o" aria-hidden="true"></i>
                <span>Documents</span></a>
            <li class="nav-item">
              <a href="#" class="d-flex align-items-center nav-link"><i class="fa fa-cog" aria-hidden="true"></i>
                <span>Settings</span></a>
            </li>
          </ul>
        </div>
        <div class="nft-store-content">
          <div class="nft-up-content">
            <div class="row">
              <div class="col-md-8">
                <div class="fire-bubble-art d-flex justify-content-between  align-items-center">
                <div class="fire-bubble-art d-flex justify-content-between  align-items-center">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <figure class="paint-image" style="background: url('') no-repeat center center ;">
                  <h1></h1>
                </figure>
              </div>
            </div>
          </div>
          <div class="trending" style="margin-right:50px;">
            <div class="trending-title">
              <div class="row justify-content-between align-items-center">
                <div class="col-6" style="margin-right:50px;" >
                  <h2>Check out the latest tech talks & webinars</h2>
                </div>
                <div class="col-6 text-right" style="margin-right:50px;">
                  <a href="#" class="theme-btn"> View More </a>
                </div>
              </div>
            </div>
            <div class="trending-grid">
              <div class="row">
                <div class="col-md-4">
                  <div class="trending-content">
                    <img src="~/css/card1.PNG" alt="card-images" class="img-fluid">
                    <div class="trending-desc">
                  
                      <h3 class="user-position">AMS For Development, SCM, Monitoring & Reporting</h3>
                      <h4 class="user-title">Case Study</h4>
                      <div class="bid d-flex justify-content-between align-items-center">
                        <div>
                          
                        </div>
                        <div>
                         
                        </div>
                      </div>
                      <img src="~/css/card2.PNG" alt="img-fluid" class="user-image">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="trending-content">
                    <img src="~/css/card2.PNG" alt="card-images" class="img-fluid">
                    <div class="trending-desc">
                   
                      <h3 class="user-position">Entrepreneur Or Small Business Owner: Which One Are You?</h3>
                      <h4 class="user-title">Technovate</h4>
                      <div class="bid d-flex justify-content-between align-items-center">
                        <div>
                          
                        </div>
                        <div>
                          
                        </div>
                      </div>
                      <img src="~/css/card1.PNG" alt="img-fluid" class="user-image">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="trending-content">
                    <img src="~/css/card3.PNG" alt="card-images" class="img-fluid">
                    <div class="trending-desc">
                  
                      <h3 class="user-position">The AI - Driven Transformation Of Software Testing</h3>
                      <h4 class="user-title">Webinar</h4>
                      

                      <div class="bid d-flex justify-content-between align-items-center">
                        <div>
                          
                        </div>
                        <div>
                   
                        </div>
                      </div>
                      <img src="~/css/card3.PNG" alt="img-fluid" class="user-image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


   <script>
        const Key = "ThisismySecretKey123";

        function onBeforeRender(sender) {
            var dashboardControl = sender;

            const token = SessionStorage.getItem(Key);

            dashboardControl.remoteService.headers = { "Authorization": "Bearer " + token };
        }
    </script>












































@*@using System.Security.Claims
@{
    ViewData["Title"] = "Index";
    var objectprojectlist = ViewData["projectList"] as IEnumerable<ProjectDetails>;
}
<partial name="_Notification"></partial>

<div class"cotainer  p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Project List</h2>
        </div>
        <div class="col-6 text-end">
            
            <a asp-controller="User" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                Create new Project</a>
        </div>
    </div>
    <br /> <br />
    </div>
<h1>Projects</h1>*@
@*@if (User.IsSignedIn()) { 
            <div>@User.GetHashCode()</div> 
            <form method = "post" asp-controller = "User" aspcontroller = "Logout"> 
               <input type = "submit" value = "Logout"/> 
            </form> *@
@*}
<table class="table table-bordered table-striped" style="width:100%":>

<thead>
    <tr>
        <th>
           Project_Id
        </th>
        <th>
            Project_Name
        </th>
        <th>
           Project_Description
        </th>
         <th>
          Associated_Managers
        </th>
           <th>
          Created_At
        </th>
         <th>
         Updated_At
        </th>

         
    </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Project_Id
                </td>
                <td width="30%">
                    @obj.Project_Name

                </td>
                <td width="30%">
                    @obj.Project_Description

                </td>
                 <td width="30%">
                    @obj.Associated_Managers

                </td>
                 <td width="30%">
                    @obj.Created_At

                </td>
                 <td width="30%">
                    @obj.Updated_At

                </td>
     
       
            </tr>
            
        }
    </tbody>
   </table>

*@

    @*<img src="https://yudiz.com/codepen/nft-store/image-1.svg" alt="fire-bubble-image" class="img-fluid fire-image fire-width">*@
                  @*<div class="fire-content fire-width">
                    <h3 class="mb-0">Interra IT</h3>
                    <div class="fire-time d-flex justify-content-between">
                      <div class="current-bid">
                        <h4>Current Bid</h4>
                        <span>0.70 ETH</span>
                      </div>*@
                     @* <div class="auction">*@
                @*        <h4>Auction Ending in</h4>
                        <span>07h:25m:46s</span>
                      </div>
                      <span class="middle-line"></span>
                    </div>
                    <span class="fire-user"><img src="https://yudiz.com/codepen/nft-store/user-pic1.svg" alt="user-image"> Rose
                      Ortega</span>
                    <div class="d-flex fire-links">
                      <a href="#" class="heart flex-shrink-0"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                      <a href="#" class="theme-btn">Click here to read more</a>
                    </div>*@